/* Example Profile.css */
.notifications {
    padding: 20px;
    margin-left: 250px;
  }
  
  @media (max-width: 768px) {
    .notifications {
      margin-left: 0;
      padding: 10px;
    }
  }
  
  /* Repeat similar structure for Notifications.css, Messages.css, SavedPosts.css, Search.css */
  